<header>
  <h1>
    GraphQL Sample App
  </h1>
</header>

<main>
  <h2>Your url is {{ url }} </h2>
</main>

<footer>
  <a href="https://glitch.com/edit/#!/remix/github-graphql-sample-app">
    Remix this in Glitch
  </a>
</footer>